.vscode/settings.json
.env.secret
.env.secret.prod
__pycache__/    
dataprocessing/.vscode/settings.json
.env.secret.dev
backend/site
site/
.vscode
talkingcode.db
qdrant-data
.env
pipelines/talkingcode.sqlite
backend/talkingcode.sqlite
backend/talkingcode.sqlite-wal
backend/talkingcode.sqlite-shm
